/* ----------------------------------------
Header
------------------------------------------- */
.vertical-center {
  background-image: url("./4-nature-wallpaper-sky.jpg");
  background-attachment: fixed;
  height: 100vh;
}
